* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.card a {
  font-family: monospace;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  border: 2px solid #ddd;
  -webkit-box-reflect: below 0px linear-gradient(transparent, #00000020);
  z-index: 9999;
}

.card a:hover {
  color: #121212;
  background-color: #fff;
}

.card a::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -35px;
  transform: translateY(-50%);
  background-color: #fff;
  width: 35px;
  height: 2px;
  box-shadow: 5px -8px 0px #fff, 5px 8px 0px #fff;
  transition: all 0.3s ease;
}

.card a::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-50%);
  background-color: #fff;
  width: 35px;
  height: 2px;
  box-shadow: -5px -8px 0px #fff, -5px 8px 0px #fff;
  transition: all 0.3s ease;
}

.card a:hover::before {
  right: 0px;
  z-index: -999;
  width: 50%;
  height: 100%;
  box-shadow: none;
}

.card a:hover::after {
  left: 0px;
  z-index: -999;
  width: 50%;
  height: 100%;
  box-shadow: none;
}

.menu {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  top: 25px;
  padding: 0;
  list-style: none;
  z-index: 9999999999;
}

.menu a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: cursive, sans-serif;
}
