* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.grass,
.sky,
.road {
  position: relative;
}

.sky {
  height: 40%;
  background: skyblue;
}

.grass {
  height: 30%;
  background: seagreen;
}

.road {
  position: relative;
  height: 30%;
  background: dimgrey;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
}

.lines {
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

.mario,
.luigi {
  position: absolute;
  top: -25px;
  left: 0;
  width: 70px;
  animation-name: DriveMario;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  z-index: 99;
}

.luigi {
  animation-duration: 3.5s;
  animation-name: DriveLuigi;
  top: 80px;
}

@keyframes DriveMario {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes DriveLuigi {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@media (max-width: 767px) {
  .lines {
    border-width: 2px;
  }
  .mario,
  .luigi {
    width: 30px;
    top: 10%;
    animation-duration: 1.5s;
  }
  .luigi {
    top: 65%;
    animation-duration: 2s;
  }
}
