* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.grass,
.sky,
.road {
  position: relative;
}

.sky {
  height: 40%;
  background: skyblue;
  position: relative;
}

.cloud {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 100px;
  animation: Cloud 20s infinite;
}

.grass {
  height: 30%;
  background: seagreen;
}

.road {
  position: relative;
  height: 30%;
  background: dimgrey;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
}

.lines {
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

.mario,
.luigi {
  position: absolute;
  top: -25px;
  left: 0;
  width: 70px;
  animation-name: DriveMario;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  z-index: 99;
  transform: 0.3s all ease-in-out;
}

.luigi {
  animation-duration: 10.5s;
  animation-name: DriveLuigi;
  top: 70px;
}

@keyframes DriveMario {
  0% {
    left: 0;
  }
  50% {
    left: 150%;
  }
  75% {
    transform: rotateY(180deg);
    left: -150%;
  }
  100% {
    left: 0%;
  }
}

@keyframes DriveLuigi {
  0% {
    left: 0;
  }
  50% {
    left: 150%;
  }
  75% {
    transform: rotateY(180deg);
    left: -150%;
  }
  100% {
    left: 0%;
  }
}

@keyframes Cloud {
  0% {
    right: 25%;
    transform: translateY(10px);
  }
  50% {
    right: 50%;
    transform: translateY(30px);
  }
  75% {
    right: 75%;
    transform: translateY(20px);
  }
  100% {
    right: 25%;
    transform: translateY(10px);
  }
}

@media (max-width: 767px) {
  .lines {
    border-width: 2px;
  }
  .mario,
  .luigi {
    width: 30px;
    top: 10%;
    animation-duration: 6s;
  }
  .luigi {
    top: 65%;
    animation-duration: 7s;
  }
}
